<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="results">
    <!-- Show them on their respective places -->
    <!-- array 0 is the first object -->
    <!-- I want to build a card with each one  -->
    <ul>
    <li><%- JSON.stringify(business_id) %></li>
    <li><%- JSON.stringify(business_alias) %></li>
    <li><%- JSON.stringify(business_price) %></li>
    <li><%- JSON.stringify(business_url) %></li>
    <li><%- JSON.stringify(business_rating) %></li>
    <li><%- JSON.stringify(business_id) %></li>
    </ul>
  </div>
</body>
</html>