<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="query results">
      <p>1. Yelp Id:<%= id %></p>
      <hr>
      <p>2. Alias:<%= alias %></p>
      <hr>
      <p>3. Name: <%= name %></p>
      <hr>
      <!-- pass this image url to the src -->
      <p>4.<img src="<%= image_url %>" alt=""></p>
      <hr>
      <p>5. <a href="<%= url %>">Business URL</a></p>
      <hr>
      <p>6. Reviews: <%= review_count %></p>
      <hr>
      <p>7. Category Alias: <%- JSON.stringify(categories.alias) %></p>
      <hr> 
      <p>8. Category Titles: <%- JSON.stringify(categories.title) %></p>
      <hr>
      <p>9. Total Rating: <%= rating %></p>
      <hr>
      <p>10. Latitude: <%= coordinates.latitude %> </p>
      <hr>
      <p>11. Longitude: <%= coordinates.longitude %></p>
      <hr>
      <p>12. Price: <%= price %></p>
      <hr>
      <p>13. Address: <%= location.address1 %>
        <%= location.address2 %>
        <%= location.address3 %>
      </p>
      <hr>
      <p>14. <%= location.city %></p>
      <hr>
      <p>15. <%= location.zip_code %></p>
      <hr>
      <p>16. <%= location.country %></p>
      <hr> 
      <p>17. <%= location.state %></p>
      <hr>
      <p>18. <%= phone %></p>
      <hr>
      <p>19. <%= display_phone %></p>
      <hr>
      <p>20. <%= distance %></p>

  </div>
  


</body>
</html>